
#state-centroids circle.b {
	fill:red;
}

#state-centroids circle.a {
	fill:orange;
}

#state-centroids circle.b{
	fill:yellow;
}

#state-centroids circle.c {
	fill:green;
}

#state-centroids circle.d {
	fill:blue;
}

#state-centroids circle.e {
	fill:#6600FF;
}

#state-centroids circle.f {
	fill:#8B00FF;
}

#state-centroids circle.g {
	fill:#000000;
}


#state-centroids circle.h{
	fill:#FF00FF;
}

#state-centroids circle.i{
	fill:#900000 ;
}

#state-centroids circle.j{
	fill:#CC3366;
}

#state-centroids circle.k {
	fill:#FF33CC;
}

#state-centroids circle.l {
	fill:#6666CC;
}

#state-centroids circle.m{
	fill:#CC6600;
}

#state-centroids circle.n{
	fill:#660033;
}

#state-centroids circle.o{
	fill:#CC0000;
}

#state-centroids circle.p{
	fill:#CC6666;
}

#state-centroids circle.q{
	fill:#669966;
}

#state-centroids circle.r{
	fill:#33FF00;
}

#state-centroids circle.s{
	fill:#6666CC;
}

#state-centroids circle.t{
	fill:#0000CC;
}

#state-centroids circle.u{
	fill:#00FF00;
}

#state-centroids circle.v{
	fill:#996666;
}

#state-centroids circle.w{
	fill:#0099FF;
}

#state-centroids circle.x{
	fill:#99CC33;
}

#state-centroids circle.y{
	fill:#00FFFF;
}

#state-centroids circle.z{
	fill:#000033;
}

#state-centroids circle.aa{
	fill:#993300;
}

#state-centroids circle.ab{
	fill:#FFCCCC;
}
#state-centroids circle.ac{
	fill:#330033;
}

#state-centroids circle.ad{
	fill:#009933;
}

#state-centroids circle.ae{
	fill:#99CCCC;
}

#state-centroids circle.af{
	fill:#CC6699;
}

#state-centroids circle.ag{
	fill:#FF6666;
}

#state-centroids circle.ah{
	fill:#FFFF66;
}

#state-centroids circle.ai{
	fill:#FFFFFF;
}
